@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
    --primary-color: #f51616;
    --primary-color-dark: #bc1c1c;
    --text-dark: #0c0a09;
    --text-light: #78716c;
    --white: #ffffff;
    --max-width: 1200px;
  }
/* Top red bar */

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 10px 20px;
    
    height: 70px;
    margin-top: none;
  }
  .top-bar1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 10px 20px;
    height: 70px;
    color: var(--white);
    font-size: xx-large;
    font-weight: bold;
    letter-spacing: 0.4cm;
  }
  .booking-details {
    
    color: white;
    padding: 20px;
    margin-top: 20px;
    justify-content: center;
    font-size: 1.1em;
    position:absolute;
}
.name-field {
  position: absolute;
  top: 17vh;
  left: 100vh;
  padding: 5px;
  justify-items: center;
  white-space: nowrap;
  font-size: 4.8vh;
  font-weight: normal;
  letter-spacing: 0.05cm;
}

.passes-field {
  position: absolute;
  top: 49.7vh;
  left: 100vh;
  padding: 5px;
  justify-items: center;
  white-space: nowrap;
  font-size: 4.8vh;
  font-weight: normal;
  letter-spacing: 0.05cm;
}


.event-field {
  position: absolute;
  top: 27.5vh;
  left: 100vh;
  padding: 5px;
  justify-items: center;
  white-space: nowrap;
  font-size: 4.8vh;
  font-weight: normal;
  letter-spacing: 0.05cm;    /* Center-align text within the div */
}

.date-field {
  position: absolute;
  top: 38.5vh;
  left: 100vh;
  padding: 5px;
  justify-items: center;
  white-space: nowrap;
  font-size: 4.8vh;
  font-weight: normal;
  letter-spacing: 0.05cm;   
}

.amount-field {
  position: absolute;
  top: 72vh;
  left: 100vh;
  padding: 5px;
  justify-items: center;
  white-space: nowrap;
  font-size: 4.8vh;
  font-weight: normal;
  letter-spacing: 0.05cm;   
 
  letter-spacing: 0.05cm;
}
.email-field
{
  position: absolute;
  top: 61vh;
  left: 80vh;
  padding: 5px;
  justify-items: center;
  white-space: nowrap;
  font-size: 4.6vh;
  font-weight: normal;
  letter-spacing: 0.05cm;   
 
  letter-spacing: 0.05cm;
}


body 
{
  font-family: "Poppins", sans-serif;
}

  /* Logo styling */
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo-img {
    padding-top: 9%;
    height: 70px;
    width: auto;
  }
  
  /* Cancel Ticket button styling */
  .cancel-button {
    
    margin-top: 80vh;
    padding: 15px 16px;
    border: none;
    margin-left: 127vh;
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 1rem;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .cancel-button:hover {
    background-color: var(--primary-color-dark);
  }
  
  /* Full-screen background image */
  /* Container for full screen images */
.full-screen-image {
  width: 100%;
  height: 100vh; /* Full screen height */
  display:inline-flex;
  flex-direction:column; /* Stack images vertically */
  position: relative;
}

/* Individual images styling */
.full-screen-image img {
  width: 100%;
  height: 100vh; /* Half screen height each */
  object-fit: cover; /* Ensures images fit without distortion */
}
  
.footer {
  background-color: var(--text-dark);
}

.section__container {
  max-width: 1200px;
  margin: auto;
  padding: 1rem 1rem;
}

.footer__container {
  display: grid;
  gap: 4rem 2rem;
}

.footer__container {
  grid-template-columns: repeat(2, 1fr);
}

.footer__container {
  grid-template-columns: repeat(4, 1fr);
}

.footer__links {
  list-style: none;
  display: grid;
  gap: 1rem;
}

.footer__socials {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}



.footer__bar {
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--text-light);
  text-align: center;
}


.dropdown-content a {
  color: var(--white);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 1rem;
  border-radius: 5px;
  transition: 0.3s;
}

.dropdown-content a:hover {
  background-color: var(--primary-color-dark);
}


a {
  text-decoration: none;
}

.nav__links a {
  position: relative;
  isolation: isolate;
  padding-bottom: 8px;
  color: var(--white);
  transition: 0.3s;
}


.footer__links a {
  color: var(--text-light);
  transition: 0.3s;
}

.footer__links a:hover {
  color: var(--white);
}


.footer__socials img {
  max-width: 25px;
  opacity: 0.8;
  transition: 0.3s;
}

.footer__socials img:hover {
  opacity: 1;
}

.nav__links a::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: var(--primary-color);
  transition: 0.3s;
  transform-origin: left;
}

.nav__links a:hover::after {
  width: 100%;
}
/* Footer styling */
.footer_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60vh; /* Adjust height as needed */
  padding-top: 0px;
  background-color: rgb(249, 249, 249);
}


.footer_1 h4 {
  font-size: small;
  color:grey; /* Initial color */
  line-height: 2.5;
  transition: color 0.3s ease; /* Smooth transition effect */
}

.footer_1 h4:hover {
  color: rgb(0, 0, 0); /* Color on hover */
}


.status
{
  position: absolute;
  top: 47vh;
  left: 130vh;
  padding: 5px;
  justify-items: center;
  white-space: nowrap;
  font-size:22px;
  font-weight:bold;
  letter-spacing: 0.05cm;
  line-height: 6vh;
}
.status_1
{
  position: absolute;
  top: 53.5vh;
  left: 130vh;
  padding: 5px;
  justify-items: center;
  white-space: nowrap;
  font-size: large;
  font-weight:normal;
  letter-spacing: 0.05cm;
  line-height: 6vh;
}

